doctype html
html
	head
		title	Employee Registory
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

	body
		nav.navbar.navbar-default.navbar-static-top(role="navigation")
			a(href="#") Home
			a(href="#mango") Profile
		h1 express employee
		block content